body{
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

nav {
    background-color: #333;
}

.navbar {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
  margin: 0.5rem;
  margin-right: 5rem;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.navbar li a:hover {
    color: #4292aa;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .radius-15 {
    border-radius: 15px;
  }
  .card {
    border: 1px solid #ddd;
    background-color: #ffffff;
    margin-top: 40px;
  }
  .card-header {
    background-color: #4292aa;
    border-bottom: none; 
    padding: 15px;
    border-radius: 15px;
    color: white; 
}

.card-body {
    padding: 15px;
    color: #333;
}

.card-body p {
    margin-bottom: 10px;
}

.fa-envelope,
.fa-phone {
    margin-right: 10px;
}

.fa {
    font-size: 18px;
}

.fa:hover {
    color: #8dc6d6;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    background: #333;
    color: white;
}

  @media (min-width: 992px) {
    .col-lg-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
  }
  @media (max-width: 991.98px) { 
    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
