body{
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.title-header{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

nav {
    background-color: #333;
}

.navbar {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.navbar li {
    margin: 0.5rem;
    margin-right: 2rem;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem 1rem; 
}

.navbar li a:hover {
    color: #4292aa;
}

main{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
   font-size: 2rem;
   color: black;
   margin-bottom: 2rem;
   border-bottom: .1rem solid rgba(0,0,0,.2);
   padding-bottom: 1rem;
   text-transform: capitalize;
}

.playlist-details .row {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 2rem;
    border: 2px solid #333;
}

.playlist-details .row .column .tutor {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.playlist-details .row .column {
    flex: 1 1 calc(50% - 1.5rem);
}

.playlist-details .row .column .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.playlist-details .row .column .thumb {
    position: relative;
}

.playlist-details .row .column .thumb span {
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border-radius: .5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem 1.5rem;
}

.playlist-details .row .column .thumb img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.playlist-details .row .column .tutor img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.playlist-details .row .column .tutor-details {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.playlist-details .row .column .tutor-details .tutor div {
    display: flex;
    flex-direction: column;
}

.playlist-details .row .column .tutor h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: .2rem;
}

.playlist-details .row .column .tutor span {
    font-size: 1.5rem;
    color: #888;
}

.playlist-details .row .column .details h3 {
    font-size: 2rem;
    color: #2c3e50;
    text-transform: capitalize;
}

.playlist-details .row .column .details p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.8rem;
    color: #888;
}

 
 .playlist-videos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .playlist-videos .box-container .box{
    background-color: #eee;
    border-radius: .5rem;
    padding: 2rem;
    position: relative;
 }
 
 .playlist-videos .box-container .box i{
    position: absolute;
    top: 2rem; left: 2rem; right: 2rem;
    height: 20rem;
    border-radius: .5rem;
    background-color: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #fff;
    display: none;
 }
 
 .playlist-videos .box-container .box:hover i{
    display: flex;
 }
 
 .playlist-videos .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
 }
 .playlist-videos .box-container a{
    text-decoration: none;
 }
 .playlist-videos .box-container .box h3{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: black;
 }
 
 .playlist-videos .box-container .box:hover h3{
    color: #4292aa;
 }
